[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "*"
jinja2 = "*"
pytz = "*"

[dev-packages]
nodeenv = "*"
black = "*"
boto3 = "*"
pylint = "*"

[requires]
python_version = "3.9"
